.expenses-wrapper {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.expenses-header {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.expenses-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.expense-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.expense-components-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 90%;
    border: 1px solid var(--main);
    border-radius: 10px;
}

.expense-components-title {
    margin-top: 10px;
}

.expense-component-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 90%;
}

.expense-component-nested-content-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}